@keyframes anim {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }}
.accordion_header{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #06113C;
    animation: anim 500ms ease-in-out forwards;
}

.accordion_item {
    position: relative;
    padding-bottom: 4px;
    border-bottom: 1px solid #00000020;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
    cursor: pointer;
}

.accordion_item .accordion_content {
margin-top: 0;
max-height: 0;
opacity: 0;
margin-bottom: 0;
transform: translateY(100%);
}

.accordion_item.accordion_expanded .accordion_content {
margin-top: 0;
max-height: 3000px;
opacity: 1;
padding-top: 30px;
transform: translateY(0);
}
.accordion_item i{
    position: relative;
    height: 2px;
    width: 10px;
    background: #06113C;
    cursor: pointer;
    margin-top: 10px;
  } 
.accordion_item i::after{
  transform: translate(4px, -4px) rotate(180deg);
  content: "";
  position: absolute;
  background-color: #06113C;
  width: 2px;
  height: 10px;
  z-index: 1;
}
.accordion_item.accordion_expanded i::after{
  transform: translate(4px, -4px)rotate(90deg);
}

.accordion_content {
  line-height: 19px;
  letter-spacing: -0.02em;
  max-height: 800px;
  opacity: 1;
  transform: translate(0,0);
  overflow: hidden;     
}
.transition, .accordion_content, .accordion_item i:after {
transition: all 1s ease-in-out;

}
.accordion_item {
animation: flipdown 0.5s ease both;
}
.accordion_item {
animation-delay: 0.5s;
}

@keyframes flipdown {
0% {
  opacity: 0;
  transform-origin: top center;
  transform: rotateX(-90deg);
}
5% {
  opacity: 1;
}
80% {
  transform: rotateX(8deg);
}
83% {
  transform: rotateX(6deg);
}
92% {
  transform: rotateX(-3deg);
}
100% {
  transform-origin: top center;
  transform: rotateX(0deg);
}
}
