.menu_icons {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    align-items: center;
    & a {
        margin-left: 25px;
        @media (max-width: 575.5px) {
            margin-left: 15px;
            &:first-child {
                margin-left: 10px;
            }
        }
    }
    & svg {
        stroke:inherit;
    }
}
.my_acc {
    font-weight: 500;
    font-size: 14px;
}