.new_tab {
    font-size: 18px;
}
.search_tab {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--red);
    margin-left: 55px;
}

.see_all_link {
    position: absolute;
    z-index: 200;
    top:0;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 15px;
    border-bottom: 1px solid #00000080;
    padding-left: 3px;
    padding-right: 3px;
        &::after{
            content: "";
            border-bottom: 1px solid transparent;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        &:hover {
            border-bottom: none;
            &::after{
                border-bottom: 1px solid #00000080;
            }
        }
}
.slider_part {
    margin-top: 45px;
}
.button_prev,
.button_next {
    position: absolute;
    background: none;
    border: none;
    top:0;
    z-index: 2;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover svg path {
        stroke-width: 5;
    }
}
.button_prev {
    left: 0;
    margin-left: -5%;
}
.button_next {
    right: 0;
    margin-right: -5%;
}