.productpage_rate {
    display: flex;
    margin-bottom: 38px;
}
.productpage_color_circle {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    padding: 5px;
    border: 5px solid #fff;
    outline: 1px solid #06113C;
    margin-right: 20px;
    cursor: pointer;
}
.productpage_code {
    margin-bottom: 8px;
}
.productpage_title {
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.18em;
    color: #06113C;
    margin-bottom: 14px;
}
.productpage_buyed {
    color: #06113C80;
    font-size: 13px;
    margin-left: 7px;
}
.product_sale_price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Avenir Next Cyr';
    & span:first-child{
        font-weight: 500;
        font-size: 14px;
        color: #06113C;
        text-decoration: line-through;
    }
    & span:nth-child(2) {
        font-weight: 500;
        font-size: 14px;
        color: #E02020;
    }
}
.productpage_sale {
    font-size: 10px;
    color: #06113C;
}
.productpage_grey_text {
    letter-spacing: -0.02em;
    color: #868686!important;
    font-size: 12px;
}
.productpage_color_name {
    font-family: 'Avenir Next Cyr';
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 19px;
    & span {
        color: #234666;
        margin-left: 3px;
    }
}
.productpage_colors {
    display: flex;
    margin-bottom: 25px;
}
.productpage_sizes {
    display: flex;
    margin-top: 20px;
    & div {
        height: 30px;
        width: 100%;
        border: 1px solid #00000020;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-family: 'Avenir Next Cyr';
        font-weight: 400;
        font-size: 12px;
        letter-spacing: -0.02em;
        cursor: pointer;
    }

    & .productpage_size_single {
        color: #06113C;
        background: none;
    }
    & .productpage_size_single_choosed {
        border: 1px solid #06113C;
        font-weight: 500;
        color: #06113C;
        background: none;
    }
    & .productpage_size_none{
        color: #00000060;
        background: url(./../../../public/image/diagonal.png);
        background-size:100% 100%;
    }
}
.productpage_quantity {
    margin-top: 25px;
}
.quantity {
    width: 77px;
}
.productpage_add_like {
    display: flex;
    margin-top: 25px;
    & button:first-child {
        padding: 8px 110px;
        border: 1px solid #06113C;
        font-weight: 600;
        color: #06113C;
        margin-right: 22px;
        &:hover {
            background: #06113C;
            color: #fff;
        }
    }
}
.productpage_description {
    margin-top: 30px;
    border-top: 1px solid #00000020;
}
.productpage_share {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #06113C;
    & div:nth-child(2) svg{
        margin-left: 30px;
    }
}