.category_menu {
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.category_menu_top {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #181818E8;
    & a {
        padding-top: 7px;
        padding-bottom: 7px;
        cursor: pointer;
        &:focus-within {
            border-top: 1px solid #00000060;
            border-bottom: 1px solid #00000060;
        }
    }
}
.menu_categories {
    list-style-type: none;
    & li {
        padding-bottom: 3px;
        width: fit-content;
        border-bottom: 1px solid transparent;
        margin-bottom: 12px;
        &:first-child {
            font-weight: 600;
        }
        &:not(:first-child) {
            font-weight: 400;
            font-size: 13px;
            cursor: pointer;
            &:hover {
                border-bottom: 1px solid #000000;
            }
            &:active {
                border-bottom: 1px solid #000000;
            }
        }

    }
}