
.reviews_container {
    background: #fff;
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    right: 0;
    min-height:fit-content;
}
.reviews_main {
    z-index: 600;
    left: 0;
    top:0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: #00000020;
}

.review_accordion div:first-child{
    border-bottom: none;
}
.review_accordion {
    margin: 0 auto;
}
@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }}
.review_parts {
    margin-top: 60px;
    animation: anim 500ms ease-in-out forwards;
    &:nth-last-of-type(1) {
        hr {opacity: 0;}
    }
    &:last-child {
        hr {opacity: 0;}
    }
}
.review_line {
    opacity: 0.5;
    width: 95%;
    margin-top: 60px;

}
.review_customer_pic {
    height: 43px;
    width: 43px;
    border-radius: 50%;
    overflow: hidden;
    & img {
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}
.review_name {
    font-family: 'Avenir Next Cyr';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.01em;
    margin-left: 18px;
}
.review_header {
    margin-top: 70px;
    font-family: 'Avenir Next Cyr';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.01em;
    margin-left: 18px;
    display: flex;
    justify-content: center;
}
.review_time {
    font-family: 'Avenir Next Cyr';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: #101010;
    margin-top: 13px;
}
.review_rate {
    & span:first-child {
        // margin-right: 8px;
    }
}
.review_new {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    & span:first-child {
        height: 11px;
        width: 11px;
    }
    & span:nth-child(2) {
        margin-left: 8px;
    }
}
.review_text {
    margin-left: 15px;
    line-height: 22px;
    margin-top: 35px;
}
.review_pic_part {
    display: flex;
    // width: 50%;
    margin-left: 15px;
    margin-top: 18px;
    & .review_pic {
        height: 64px;
        width: 64px;
        margin-right: 17px;
        & img {
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}
.review_quantity {
font-family: 'Avenir Next Cyr';
font-weight: 300;
font-size: 10px;
letter-spacing: 0.04em;
justify-content: center;
align-items: center;
text-align: center;
white-space: nowrap;
cursor: pointer;
}
.review_new_rate {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.review_stars {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-right: 27px;
}
.review_form {
    width: 70%;
    & input {
        margin-bottom: 24px;
    }
} 
.review_form_buttons {
    margin-top: 45px;
    & button {
        &:first-child {
        margin-right: 25px;
        color:#000000;
        &:hover {
            border: 1px solid #737B77;
            background: none;
            color:#737B77;
        }
            }
        &:nth-child(2) {
            background: #737B77;
            color:#fff;
            &:hover {
                border: 1px solid #737B77;
                background: none;
                color:#737B77;
            }
            }
}
}
.reviews_close {
    position: absolute;
    z-index: 501;
    right: 0;
    padding: 30px;
    cursor: pointer;
    & svg {
        width: 25px;
        path {
            stroke-width: 2;
            stroke: #000;
        }
    }
}
.productpage_rate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.productpage_rate_number {
    font-family: 'Avenir Next Cyr';
    font-weight: 500;
    font-size: 20px;
    color: #4B4B4B;
    margin-left: 13px;
}
.productpage_buyed {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Avenir Next Cyr';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #121314;
    & span:first-child {
        margin-right: 5px;
    }
}

.leave_review {
    margin: 0 auto;
}