.category_page_left {
    width: 20%;
    padding-top: 50px;
}
.category_page_right {
    width: 80%;
}
.category_page_add {
    margin-top: 25px;
    margin-bottom: 45px;
}
.category_description {
    font-size: 12px;
    font-family: 'Avenir Next Cyr';
    color: #000000E5;
    margin-top: 10px;
}