:root {
    --white: #fff;
    --black: #000;
    --card-btn-secondary: #161616;
    --heart-color: #CB2934;
    --red: #CB2934;
    --dark-blue: #002140;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Avenir Next Cyr';
}